Tile121 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\121.bmp"
Tile122 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\122.bmp"
Tile123 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\123.bmp"
Tile124 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\124.bmp"
Tile125 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\125.bmp"
Tile126 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\126.bmp"

Tile131 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\131.bmp"
Tile132 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\132.bmp"
Tile133 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\133.bmp"
Tile134 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\134.bmp"

Tile141 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\141.bmp"


Tile221 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\221.bmp"
Tile222 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\222.bmp"
Tile223 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\223.bmp"
Tile224 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\224.bmp"
Tile225 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\225.bmp"
Tile226 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\226.bmp"

Tile231 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\231.bmp"
Tile232 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\232.bmp"
Tile233 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\233.bmp"
Tile234 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\234.bmp"

Tile241 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\241.bmp"


Tile321 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\321.bmp"
Tile322 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\322.bmp"
Tile323 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\323.bmp"
Tile324 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\324.bmp"
Tile325 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\325.bmp"
Tile326 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\326.bmp"

Tile331 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\331.bmp"
Tile332 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\332.bmp"
Tile333 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\333.bmp"
Tile334 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\334.bmp"

Tile341 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\341.bmp"


Tile421 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\421.bmp"
Tile422 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\422.bmp"
Tile423 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\423.bmp"
Tile424 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\424.bmp"
Tile425 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\425.bmp"
Tile426 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\426.bmp"

Tile431 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\431.bmp"
Tile432 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\432.bmp"
Tile433 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\433.bmp"
Tile434 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\434.bmp"

Tile441 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\441.bmp"


Tile521 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\521.bmp"
Tile522 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\522.bmp"
Tile523 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\523.bmp"
Tile524 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\524.bmp"
Tile525 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\525.bmp"
Tile526 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\526.bmp"

Tile531 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\531.bmp"
Tile532 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\532.bmp"
Tile533 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\533.bmp"
Tile534 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\534.bmp"

Tile541 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\541.bmp"


Tile621 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\621.bmp"
Tile622 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\622.bmp"
Tile623 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\623.bmp"
Tile624 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\624.bmp"
Tile625 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\625.bmp"
Tile626 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\626.bmp"

Tile631 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\631.bmp"
Tile632 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\632.bmp"
Tile633 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\633.bmp"
Tile634 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\634.bmp"

Tile641 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\641.bmp"


Tile721 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\721.bmp"
Tile722 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\722.bmp"
Tile723 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\723.bmp"
Tile724 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\724.bmp"
Tile725 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\725.bmp"
Tile726 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\726.bmp"

Tile731 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\731.bmp"
Tile732 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\732.bmp"
Tile733 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\733.bmp"
Tile734 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\734.bmp"

Tile741 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\741.bmp"


Tile831 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\831.bmp"
Tile832 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\832.bmp"
Tile833 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\833.bmp"
Tile834 BITMAP "C:\Users\ich\Dropbox\Studium\Programmierpraktikum\loopit\tiles\834.bmp"